.container {
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid hsl(0, 0%, 87%);
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  margin-top: 20px;
  background-color: #fff;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
  border-radius: 20px;
  max-width: 700px;
  background-color: #f7f7f7;
  margin: 0 auto;
}

.SearchForm {
  margin-bottom: 50px;
}

input {
  padding: 10px 20px;
  width: 400px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #3097d7;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #2371a0; /* Darker teal on hover */
}

.weather-info {
  text-align: center;
}

.city-name {
  font-size: 22px;
  font-weight: bold;
}

.date-time {
  font-size: 14px;
  margin-top: -5px; /* Adjust as needed */
}

.weather-details {
  margin-top: 10px;
}

.temperature {
  font-size: 32px;
  font-weight: bold;
}

.condition {
  font-size: 16px;
  margin-top: -10px;
}

.humidity-wind {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  gap: 70px;
}

.Footer {
  margin-top: 20px;
  text-align: center;
}
